@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Space+Mono:wght@700&display=swap");
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

/* ROOT STYLE PRESETS */
:root {
	--main-color: hsl(0, 0%, 9%);
	--gradient-text: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
	--webk-gradient-text: -webkit-linear-gradient(
		to right,
		#12c2e9,
		#c471ed,
		#f64f59
	);
	--fallb-gradient-text: hsl(191, 86%, 49%);
	--footer-btn-clr: hsl(0, 0%, 85%);
	--secondary-color: hsl(0, 78%, 59%);
	/* FONTS */
	--main-font: "Montserrat", sans-serif;
	--logo-font: "Space Mono", monospace;
}

/* CUSTOM SCROLL BAR */
::-webkit-scrollbar {
	width: 0.8rem;
}
::-webkit-scrollbar-track {
	background: hsla(0, 0%, 68%, 0.438);
	margin-block: 0.5em;
	border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, #12c2e9, #c471ed, #f64f59);
	border-radius: 100vw;
}
/* CUSTOM SCROLLBAR END */

/* ============== HEADER ============== */

.navbar {
	position: sticky;
	top: 0;
	z-index: 1;
}
.nav-fix {
	height: 10vh;
	display: flex;
	align-items: center;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

	background-color: #f2f2f2;
}

.navbar .nav-space {
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar .nav-space .logo {
	text-transform: uppercase;
	font-size: 2rem;
	letter-spacing: 2px;
	font-family: var(--logo-font);
}

.nav-links {
	display: flex;
	font-family: var(--main-font);
	display: none;
}

.nav-links .link {
	margin: 3rem;
	text-transform: uppercase;
	color: var(--main-color);
	font-size: clamp(1rem, 8vw - 2rem, 1rem);
}

.nav-links .link:hover {
	border-bottom: 2px solid hsl(0, 0%, 9%);
}

.nav-icons .fa-bars,
.fa-shopping-cart {
	margin: 0 1rem;
}

.nav-btn {
	font-size: 1rem;
	cursor: pointer;
}

.fa-user,
.fa-shopping-cart {
	font-size: 1.3rem;
}
.fa-user {
	cursor: pointer;
}
a[href="form.html"] {
	color: black;
}
.nav-icons {
	display: flex;
	align-items: center;
}

.cart-btn {
	position: relative;
	cursor: pointer;
}

.cart-items {
	position: absolute;
	top: -7px;
	right: 5px;
	border-radius: 30%;
	padding: 0 5px;
	background-color: hsl(0, 73%, 49%);
	color: white;
	font-family: var(--main-font);
}

/* MOBILE NAV */
.mobile-nav {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 4;
	background-color: #f2f2f2;
	transition: all 300ms ease;
	transform: translateX(100%);
}
.showNav {
	transform: translateX(0);
}

.nav-mlinks li {
	margin: 4rem;
	text-transform: uppercase;
}
.mlink {
	color: black;
}
/* END OF MOBILE NAV */
.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(/heroimg.jpg) no-repeat center;
	background-position: cover;
	background-size: cover;
	width: 100%;
	height: 90vh;
	position: relative;
}

.banner-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: hsla(0, 0%, 0%, 0.822);
}

.banner h1 {
	text-transform: uppercase;
	font-family: var(--main-font);
	font-size: clamp(2rem, 8vw - 2rem, 4rem);
	text-align: center;
	color: white;
	margin-bottom: 3rem;
}

.banner h1 span {
	background: #12c2e9; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.btn-shop {
	border: none;
	outline: none;
	background-color: var(--secondary-color);
	padding: 1rem 2.5rem;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	letter-spacing: 2px;
	border-radius: 5px;
}



#progress-bar {
	--progress: 0;
	height: 6px;
	width: var(--progress);
	background-color: #f64f59;
}
/* ============== END OF HEADER ============== */

/* ============== MAIN ============== */
main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

main .product-showcase {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	background-color: var(--main-color);
	width: 100%;
}

main .product-showcase h1 {
	font-size: 3rem;
	align-self: center;
	margin: 2rem;
	color: #f2f2f2;
	text-align: center;
}

main .product-showcase .product-grid {
	display: grid;
	grid-column: 2;
	grid-row: 2;
	gap: 1.5rem;
	padding: 2rem;
	max-width: 900px;
}

main .product-showcase .product-grid img.sleeve {
	grid-column: 1 / span 1 ;
	grid-row: 1 / span 1;
}

main .product-showcase .product-grid img.cneck {
	grid-column: 2 / span 1 ;
	grid-row: 1 / span 1;
}

main .product-showcase .product-grid img.sweatpants {
	grid-column: 1 / span 1 ;
	grid-row: 2 / span 1;
}

main .product-showcase .product-grid span {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
	align-self: center;
	justify-self: center;
	font-size: 2.5rem;
	font-family: 'Montserrat', sans-serif;

}

main .product-showcase .product-grid span a {
	color:hsl(0, 0%, 85%);
}

main .product-showcase .product-grid span a:hover {
	color:hsl(0, 0%, 85%);
	border-bottom: 1.5px solid hsl(0, 0%, 85%);
}


img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* ============== END OF MAIN ============== */

/* ============== FOOTER ============== */
footer {
	position: relative;
	display: flex;
	justify-content: center;
	background-color: var(--main-color);
	
	padding: 6rem 3rem;
	overflow: hidden;
}


footer p {
	align-self: center;
	font-size: 0.8rem;
	color: white;
	font-family: var(--main-font);
}
/* ============== END OF FOOTER ============== */

/* ============== STORE ============== */
.grid-container {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	padding: 1.5rem;
}

.-img {
	width: 100%;
	object-fit: cover;
}

.img-container {
	margin-bottom: 0.5rem;
	position: relative;
	overflow: hidden;
}

.product h3 {
	margin-bottom: 1rem;
	text-align: center;
	text-transform: uppercase;
}
.caption {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price {
	font-size: 1.5rem;
}

.atc {
	border: none;
	background: var(--secondary-color);
	padding: 1rem 1rem;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
}

.section-title {
	font-size: 1.5rem;
	text-align: center;
	margin: 3rem;
}

p,
h1,
h2,
h3,
h4,
h5,
.remove-item {
	font-family: var(--main-font);
}

.category-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	grid-column: 1 / span 2;
	place-self: start;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #f2f2f2;
	transform: translateX(-150%);
	transition: all 300ms ease;
	overflow: hidden;
}

.show-category-btn {
	display: flex;
	outline: none;
	border: none;
	font-size: 1rem;
	margin-bottom: 2rem;
	padding: 0.5rem 1.5rem;
	background-color: var(--main-color);
	color: white;
	cursor: pointer;
	text-transform: uppercase;
}

.grid-container .category-container div h2 {
	margin-bottom: 1.5rem;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.category-btn {
	text-transform: capitalize;
	font-size: 1.2rem;
	font-family: var(--main-font);
	font-weight: 400;
	margin-bottom: 1rem;
	text-align: start;
	cursor: pointer;
	margin: 3rem;
}

.category-close {
	font-size: 2.5rem;
	position: absolute;
	top: 60px;
	right: 15px;
	cursor: pointer;
}

.showCategory {		transform: translateX(0%);		}
.hideCategory {		transform: translateX(-150%);	}

.products-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	grid-column: 1 / span 10;
	width: 100%;
	grid-column-gap: 1.5rem;
	grid-row-gap: 2rem;
	margin: 0 auto;
}
/* ============== END OF STORE============== */

/* ============== CART ============== */
.cart-overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transition: var(--mainTransition);
	background: rgba(0, 0, 0, 0.6);
	z-index: 3;
	visibility: hidden;
}
.cart {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	z-index: 15;
	background: rgb(219, 219, 219);
	padding: 1.5rem;
	transition: all 300ms ease;
	transform: translateX(100%);
}

.showCart {		transform: translateX(0);		}

.transparentBcg {		visibility: visible;		}


@media screen and (min-width: 768px) {
	.cart {
		width: 30vw;
		min-width: 450px;
	}
	.category-container {
		grid-column: 1 / span 2;
		place-self: start;
		z-index: 998;
		position: fixed;
		top: 0;
		left: 0;
		width: 20vw;
		height: 100%;
		background-color: #f2f2f2;
	}
	.nav-links {
		display: flex;
	}
	.mobile-nav {
		visibility: hidden;
	}
	.nav-btn {
		font-size: 1rem;
		visibility: hidden;
	}
	.nav-links .link {
		margin: 0 1rem;
	}

	main .product-showcase h1 {
		font-size: 3.5rem;
	}
	
}

@media screen and (max-width: 750px) {
	main .product-showcase {
		flex-direction: column;
	}
	
	main .product-showcase h1 {
		font-size: 2rem;
	}
}

.close-cart {
	font-size: 1.7rem;
	cursor: pointer;
}

.cart h2 {
	text-transform: capitalize;
	text-align: center;
	letter-spacing: var(--mainSpacing);
	margin-bottom: 2rem;
}

/* ============== CART ITEM ============== */
.cart-item {
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr auto;
	grid-column-gap: 1.5rem;
	margin: 1.5rem 0;
}

.cart-item img {
	width: 75px;
	height: 75px;
}

.cart-item h4 {
	font-size: 0.85rem;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
	margin: 0.5rem 0;
	letter-spacing: var(--mainSpacing);
}

.item-amount {
	text-align: center;
}

.remove-item {
	color: grey;
	cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
	color: var(--primaryColor);
	cursor: pointer;
}

.clear-cart {
	border: none;
	outline: none;
	padding: 1rem 2rem;
	background-color: var(--secondary-color);
	cursor: pointer;
	color: white;
	font-size: 1rem;
	text-transform: uppercase;
	margin-right: 1.5rem;
}
/* ============== END OF CART ITEM ============== */
/* ============== CART FOOTER ============== */
.cart-footer {
	margin-top: 2rem;
	letter-spacing: var(--mainSpacing);
	text-align: center;
}
.cart-footer h3 {
	text-transform: capitalize;
	margin-bottom: 1rem;
}
/* ============== END OF CART FOOTER ============== */

/* ============== END OF CART ============== */

/* ============== FORM ============== */

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
	margin-top: 3rem;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: var(--main-color);
	padding: 20px 40px;
	color: hsl(0, 0%, 85%);
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
	font-family: var(--main-font);
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
	border: none;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
	font-family: var(--main-font);
	cursor: pointer;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
	border: 5px solid #001f61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Muli";
	position: relative;
	height: 169px;
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97a5ce;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001f61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #ff7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97a5ce;
	font-family: "Muli";
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #dce1f2;
	border-radius: 50%;
	color: #001f61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #ff6a00;
	box-shadow: 0 9px 12px -9px #ff6a00;
}

.txt-label {
	font-size: 1.2rem;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001f61;
	border: 1px solid #001f61;
	box-shadow: 0 16px 22px -17px #03153b;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001f61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001f61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: "Muli";
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #ff7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {
	.social-panel-container.visible {
		transform: translateX(0px);
	}

	.floating-btn {
		right: 10px;
	}
}
/* ============== END OF FORM ============== */
